Importing required libraries.

In [11]:
import pandas as pd
import requests

Getting the response of API call using requests.get() and storing it in response variable.

In [12]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

Creating a temporary dataset variable and storing the required data of response.

In [13]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
temp_df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,43.3592,8.716,29794
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,40.3175,8.688,22497
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,20.0106,8.572,13614
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,15.4284,8.600,17140
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,13.1707,8.556,9763
5,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,21.2557,8.500,17986
6,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,31.0957,8.526,35222
7,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,6.1923,8.517,4560
8,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,17.1770,8.504,18883
9,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,32.1545,8.500,20182
10,122,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,2003-12-17,26.3842,8.493,26071
11,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,25.4546,8.486,29731
12,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,19.3151,8.479,12308
13,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-23,13.9705,8.467,9433
14,157336,Interstellar,The adventures of a group of explorers who mak...,2014-11-05,45.3727,8.500,38949
15,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,20.2801,8.462,29282
16,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,17.9342,8.452,14039
17,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,7.8931,8.451,4120
18,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.0083,8.443,6367
19,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,9.4491,8.440,13807

Visiting all the other pages and collecting the data from their via a for loop, and is stored as a list in dfs, these list are converted into a dataset using pd.concat which concat each list in dfs vertically making them a row.

In [14]:

dfs = []

for i in range(1, 429):
    response = requests.get(f'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={i}')

    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

    dfs.append(temp_df)

df = pd.concat(dfs, ignore_index=True)
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,43.3592,8.716,29794
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,40.3175,8.688,22497
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,20.0106,8.572,13614
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,15.4284,8.600,17140
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,13.1707,8.556,9763
...,...,...,...,...,...,...,...
8555,823999,Diabolik: Ginko Attacks!,Diabolik narrowly escapes Inspector Ginko's la...,2022-11-17,1.1821,5.979,485
8556,60405,Sharpay's Fabulous Adventure,After a talent scout spots her performing with...,2011-04-19,1.3509,6.000,557
8557,14451,Dead Snow,Eight medical students on a ski trip to Norway...,2009-01-09,3.3114,5.979,1204
8558,9453,Caligula,After the death of the paranoid emperor Tiberi...,1979-08-14,7.1358,5.979,956
8559,521007,Superintelligence,When an all-powerful Superintelligence chooses...,2020-12-11,3.8253,5.978,314

The dataframe is converted in .csv format and taken as output file.

In [15]:
df.to_csv('movies.csv')